<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title %}{{ title }} - {% endif %}Spelling Bee</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐝</text></svg>">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
    {% if styles %}<link rel="stylesheet" href="{{ '/spelling-bee/assets/css/' + styles | url }}">{% endif %}
  </head>
  <body>
    <header class="header">
      <a class="home-link" href="{{ '/' | url }}"><span aria-label="Spelling bee" class="logo" role="img">🐝</span></a>
    </header>
    <main>
        <h1 id="title">{{ title or 'Spelling Bee' }}</h1>
        {{ content | safe }}
    </main>
  </body>
  {{ pathPrefix | log }}
  {% if script %}<script src="{{ '/spelling-bee/assets/js/' + script | url }}" type="module"></script>{% endif %}
</html>